<div class="container text-center">
  <h1>Contact us</h1>
</div>

<div class="container">
  <p>Mobile: xxx x xxxx x</p>
  <p>Address: Lorem ipsum dolor sit amet, consectetur adipisicing elit. At, quos, fugiat, aperiam, illo vitae quisquam blanditiis vero qui ullam voluptatum consequuntur dignissimos exercitationem beatae perferendis iure ea quis quidem sunt.</p>
</div>